<div class="container">
  <h2 class="mt-4">{{ contactId ? 'Edit Contact' : 'Add Contact' }}</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input id="phone" class="form-control" formControlName="phone">
    </div>
    <button type="submit" class="btn btn-success">{{ contactId ? 'Update' : 'Save' }}</button>
  </form>
</div>
